.post-container{
 width:50%;
 margin:20px auto;
 background: white;
 text-align:center;
 display:flex;
 flex-direction:column;
 border:1px solid black;

}
.thumb{
 display:flex;
 flex-direction:row;
 justify-content: flex-start;
 align-items: center;
}
.thumb img{
 border-radius:50%;
 width:50px;
 height:50px;
 margin-right: 20px;
}
.like-container{
 text-align:left;
 margin:10px 0;
}
.like-container i{
 padding-left:20px;
}